<% layout("/layouts/boilerplate")%>

<body>
    <h2>Edit Your Listing</h2>
     <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <input type="text" name="listing[title]" value="<%=listing.title%>" required><br>
        <textarea name="listing[description]" ><%= listing.description %></textarea><br>
        <input type="text" name="listing[image]" value="<%=listing.image%>"><br>
        <input type="number" name="listing[price]" value="<%=listing.price%>" required><br>
        <input type="text" name="listing[country]" value="<%=listing.country%>" required><br>
        <input type="text" name="listing[location]"value="<%=listing.location%>" required><br>
        <button type="submit">Edit</button>
    </form>
</body>
